<a href="https://colab.research.google.com/github/rrajveersingh02/Python_Notebooks/blob/main/04_Set_frozenset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set -->

- If we want to represent a group of unique values as a single entity then we should go for set.
- Duplicates are not allowed.
- Insertion order is not preserved.But we can sort the elements.
- Indexing and slicing not allowed for the set.
- Heterogeneous elements are allowed.
- Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.
- We can represent set elements within curly braces and with comma seperation
- We can apply mathematical operations like union, intersection, difference etc on set objects.

In [ ]:
s={10,20,30}
type(s)

set

In [ ]:
# empty parenthesis treated as dict

s={}
type(s)

dict

In [ ]:
s={10}
type(s)

set

In [ ]:
s={10,20,30,40}
print(s)
type(s)

{40, 10, 20, 30}

set

In [ ]:
# create set using set function
s=set()
type(s)

set

In [ ]:
l=[10,20,30]   # list to set
s=set(l)
print(s)
type(s)

{10, 20, 30}

set

In [ ]:
s=set(range(0,10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Functions

In [ ]:
s={10,20,30,40,50}   #add
print(s)
s.add(100)
print(s)

{50, 20, 40, 10, 30}
{50, 20, 100, 40, 10, 30}

In [ ]:
s

{10, 20, 30, 40, 50, 100}

In [ ]:
l=[200,300,400,500]   # update
s.update(l)      # pass sequence of elements like list, range
s

{10, 20, 30, 40, 50, 100, 200, 300, 400, 500}

In [ ]:
s.update(range(1,10,2),range(0,10,2))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 100, 200, 300, 400, 500}

In [ ]:
s1=s.copy()   # create copy
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 100, 200, 300, 400, 500}

In [ ]:
print(id(s))
print(id(s1))

135786276655776
135786276655328

In [ ]:
s.pop()  #   remove random element from set

5

In [ ]:
s.remove(100)  # remove
s

{6, 7, 8, 9, 10, 20, 30, 40, 50, 200, 300, 400, 500}

In [ ]:
s.discard(1000) # discard -->> if specified element is not present we won't get error

In [ ]:
# s.clear() - remove all  element from set

In [ ]:
s1 = {10, 20, 30, 40}         # union
s2 = {100, 200, 300, 400}
print(s1.union(s2))

print(s1 | s2)

{100, 40, 200, 10, 300, 400, 20, 30}
{100, 40, 200, 10, 300, 400, 20, 30}

In [ ]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}
Days2 = {"Friday","Saturday","Sunday"}

print(Days1|Days2)

print(Days1.union(Days2))

{'Friday', 'Tuesday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Saturday'}
{'Friday', 'Tuesday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Saturday'}

In [ ]:
s1 = {10, 20, 300, 40}
s2 = {100, 200, 300, 400}

print(s1.intersection(s2))

print(s1 & s2)

{300}
{300}

In [ ]:
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}
Days2 = {"Monday","Tuesday","Sunday", "Friday"}

print(Days1&Days2) #prints the intersection of the two sets

print(Days1.intersection(Days2))

{'Tuesday', 'Monday'}
{'Tuesday', 'Monday'}

In [ ]:
s1 = {10, 20, 300, 40}
s2 = {100, 200, 300, 400}

            # difference(): x.difference(y) OR x-y, Returns the elements present in x but not in y

print(s1.difference(s2))
print(s1 - s2)

{40, 10, 20}
{40, 10, 20}

In [ ]:
s1={10,20,300,40}
s2={100,200,300,400}

               # Returns elements present in either x OR y but not in both.

print(s1.symmetric_difference(s2))
print(s1^s2)

{100, 200, 40, 10, 400, 20}
{100, 200, 40, 10, 400, 20}

# immutable entity like tuple, String can be added to set but mutable entity like list can not be added to the set

In [ ]:
s={10,20,30,40,50,(10,20,30,40),'Sample'}
print(s)

{50, (10, 20, 30, 40), 20, 40, 10, 'Rajveer', 30}

# frozenset -->represent group of elements same as set but it is immutable

In [ ]:
s={10,20,"Sample"}
fs=frozenset(s)
type(fs)

frozenset

In [ ]:
t=(10,20,30,40)
print(type(t))
fs=frozenset(t)
print(fs)
print(type(fs))

<class 'tuple'>
frozenset({40, 10, 20, 30})
<class 'frozenset'>