<a href="https://colab.research.google.com/github/rrajveersingh02/Python_Notebooks/blob/main/05_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dict -->> If we want to represent a group of objects as key-value pairs then we should go for Dictionary.

Eg:-
 rollno ---- name
 phone number -- address
 ipaddress --- domain name

- Duplicate keys are not allowed but values can be duplicated.
- Hetrogeneous objects are allowed for both key and values.
- Insertion order is not preserved
- Dictionaries are mutable
- Dictionaries are dynamic
- indexing and slicing concepts are not applicable

In [ ]:
d={}
type(d)

dict

In [ ]:
d={100:'Name',200:'Fname',300:'lname'}
d

{100: 'Name', 200: 'Fname', 300: 'lname'}

In [ ]:
d = {
    100:"Rajveer",
    200:"Indore",
    300:"CDAC"
}
d

{100: 'Rajveer', 200: 'Indore', 300: 'CDAC'}

In [ ]:
d = {
    100:"Rajveer",
    200:"Indore",
    300:"CDAC"
}
d

{100: 'Rajveer', 200: 'Indore', 300: 'CDAC'}

In [ ]:
d = {
    100:"Rajveer",
    200:"Indore",
    300:"CDAC",
    100:"Singh"  # 100 :"singh" bcoz 100:"Singh" is the most recent one
}
d

{100: 'Singh', 200: 'Indore', 300: 'CDAC'}

In [ ]:
d = {
    100:"Rajveer",
    "add":"Indore",  # we can use diff data type as keys
}
d

{100: 'Rajveer', 'add': 'Indore'}

In [ ]:
d={100:'Name',200:'Fname',300:'lname'}  # Access dict elements
d[100]

'Name'

In [ ]:
# d.has_key(400) ïƒ  Returns 1 if key is available otherwise returns 0

In [ ]:
dict1 = {
    "name": "Rajveer",
    "dist": "Indore",
    "city": "Mhow"
}
x = dict1.get("name")  # getname
print(x)
# print("Accessing a element using get:")
k = dict1.keys()  # dict keys
v = dict1.values()  # dict values
print(k)
print(v)

Rajveer
dict_keys(['name', 'dist', 'city'])
dict_values(['Rajveer', 'Indore', 'Mhow'])

In [ ]:
d = {100: 'Raj', 200: 'Singh', 300: 'CDAC'}
print(d)
l1=list(d.keys())
l2=list(d.values())
print(l1)
print(l1[1])
print(l2)
print(l2[2])

{100: 'Raj', 200: 'Singh', 300: 'CDAC'}
[100, 200, 300]
200
['Raj', 'Singh', 'CDAC']
CDAC

In [ ]:
d["name"] = "Sample"  # update dict
d

{100: 'Raj', 200: 'Singh', 300: 'CDAC', 'name': 'Sample'}

In [ ]:
# The del keyword removes the item with the specified key name:
# del dict["key"]

# del d[k1],d[k2]

# The del keyword can also delete the dictionary completely
# del dict

# The clear() method empties the dictionary:
# dict.clear()

# ** list and dict are not allowed as key

In [ ]:
d.pop(100)  # return value associated with that key
d

{200: 'Singh', 300: 'CDAC', 'name': 'Sample'}

In [ ]:
d.popitem()
print(d)

{200: 'Singh', 300: 'CDAC'}

In [ ]:
d={100:'Raj',200:'Singh',300:'Indore',400:'Mhow'}
d

{100: 'Raj', 200: 'Singh', 300: 'Indore', 400: 'Mhow'}

In [ ]:
# Looping

for i in d:
    print(d[i])

print('#########################################')

for x in d.values():
    print(x)

print('#########################################')

for x in d.keys():
    print(x)

print('#########################################')

for x, y in d.items():
    print(x, y)

Raj
Singh
Indore
Mhow
#########################################
Raj
Singh
Indore
Mhow
#########################################
100
200
300
400
#########################################
100 Raj
200 Singh
300 Indore
400 Mhow

In [ ]:
dict1 = {
    "name": "Rajveer",
    "add": "Indore",
    "city": "Mhow"
}
# check if key exist
if "name" in dict1:
    print("key present ")

key present

In [ ]:
dict1 = {
    "dict2": {
        "name": "rajveer",
        "class": "12th"
    },
    "dict3": {
        "name": "Panakj",
        "class": "10th"
    },
    "dict4": {
        "name": "Rahul",
        "class": "11th"
    }
}

print(dict1)

# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
    "name": "Emil",
    "year": 2004
}
child2 = {
    "name": "Tobias",
    "year": 2007
}
child3 = {
    "name": "Linus",
    "year": 2011
}

myfamily = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}

{'dict2': {'name': 'rajveer', 'class': '12th'}, 'dict3': {'name': 'Panakj', 'class': '10th'}, 'dict4': {'name': 'Rahul', 'class': '11th'}}

In [ ]:

d = {
    'name':'Rajveer',
    'tech':['java','sql','python']
}
d

d['tech'][1]

'sql'

ALLOWED -->>

list of tuples

tuple of tuples

set of tuples

list of lists

tuple of lists


NOT ALLLOWED -->>

set of lists

list can be added to dict

tuple can be added to dict

set can be added to dict