<a href="https://colab.research.google.com/github/rrajveersingh02/Python_Notebooks/blob/main/06_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Built in functions -->>
id(), type(), input(), eval(),print() etc..

# Function syntax -->>

def function_name("parameter"):

  "Function functionality"

  return value

def is mandatory,return statement is optional

In [ ]:
def function_name():
  return "function return value"

In [ ]:
function_name()

'function return value'

In [ ]:
def wish(name):           # name is parameter
  print("Hello ",name)

In [ ]:
wish("Raj")    # "Raj is argument"

Hello  Raj

In [ ]:
wish("Z")

Hello  Z

In [ ]:
def squareRoot(num):
  print("Square root : ", num*num)

In [ ]:
squareRoot(10)

Square root :  100

In [ ]:
def add(num1,num2):
  print("Sum : ", num1+num2)

In [ ]:
add(100,20)

Sum :  120

In [ ]:
def sample():
  print("hello")

In [ ]:
sample()

hello

In [ ]:
print(sample())    # Default return type is None

hello
None

In [ ]:
def even_odd(num):
  if num%2==0:
    print("num is Even")
  else:
    print("num is odd")

In [ ]:
even_odd(100)

num is Even

In [ ]:
def sum_sub(a,b):    # function return multiple values
  sum=a+b
  sub=a-b
  return sum,sub

In [ ]:
sum_sub(100,20)

(120, 80)

In [ ]:
x,y=sum_sub(100,20)
print(x,y)

120 80

In [ ]:
def calc(a,b):
  sum=a+b
  sub=a-b
  mul=a*b
  div=a/b
  return sum,sub,mul,div

In [ ]:
t=calc(100,20)
print(t)

(120, 80, 2000, 5.0)

In [ ]:
for i in t:   # print values  using for loop
  print(i)

120
80
2000
5.0

# Types of argument -->>

- positional/required

- default

- keyword

- var-length args


None is the default return value of function in python, python can return multiple values with the help of tuple.

# Positional Argument -->>
- no of arguments must be match & order is also important if we change order result is also change

- If we change the number of arguments then we will get error

In [ ]:
def sum(a,b):
  print(a+b)

sum(10,20)

30

# Default Argument -->>
- Python allows us to initialize the arguments at the function definition. If the value of any of the arguments is not provided at the time of function call, then that argument can be initialized with the value given in the definition even if the argument is not specified at the function call.

- after default args we can't take non default args

In [ ]:
def f1(name="Raj", msg="hello"):    # raj & hello are default values if we didn't not assign any parameter
	print(name, msg)

f1("zeher","okkk")
f1()

zeher okkk
Raj hello

# Keyword Argument -->>
- Python allows us to call the function with the keyword arguments. This kind of function call will enable us to pass the arguments in the random order.

- The name of the arguments is treated as the keywords and matched in the function calling and definition. If the same match is found, the values of the arguments are copied in the function definition.

- no need to worry about order,no of argumnets is important,
after keyword argument we can't use positional arg. after keyword arg., first we use positional arg then we use keyword arg otherwise we will get error.

- we can use positional and keyword argument simultaneously but first we have to take positional argu and then keyword argument

- after keyword args we can not take positional args

In [ ]:
def wish(name,msg):
  print(name, msg)

In [ ]:
wish(name="Rajveer", msg='New')
wish(msg="New", name='Rajveer')

Rajveer New
Rajveer New

In [ ]:
def simple_interest(p,t,r):
    return (p*t*r)/100
print("Simple Interest: ",simple_interest(t=10,r=10,p=1900))

Simple Interest:  1900.0

- f1(100, b=20) valid
- f1(a=20, 100) not valid second args should not be positional, first can be positional

- f1(10,a=20) error bcoz 10 assign to a and again we reassign a

# Variable-length Arguments (*args) -->>

In large projects, sometimes we may not know the number of arguments to be passed in advance. In such cases, Python provides us the flexibility to offer the comma-separated values which are internally treated as tuples at the function call. By using the variable-length arguments, we can pass any number of arguments.

- after variable length arg if we are taking other argument we provide values as keyword argument only

- if first arg is keyword/positional & second or last arg is var length arg then there is no restriction,

- restriction apply if the first arg is var len arg & compulsory second args is keyword.

- function can't take more than one var args

- internally tuple will be create

In [ ]:
def printme(*names):
    print("type of passed argument is ",type(names))
    print("printing the passed arguments...")
    for name in names:
        print(name)

printme("john","David","smith","nick")

type of passed argument is  <class 'tuple'>
printing the passed arguments...
john
David
smith
nick

In [ ]:
def new():
    '''this is new function '''   # This is doc string
    print("new function ... ")

new()
print(new.__doc__)

new function ...
this is new function

In [ ]:
def sum(*n):
  total=0
  for i in n:
    total= total+i
  print("Total ", total)

In [ ]:
sum(11)
sum(10,20,30)
sum(100,200,300,301,23,212,9)

Total  11
Total  60
Total  1145

In [ ]:
# After variable length argument,
# if we are taking any other arguments then we should provide values as keyword arguments.

In [ ]:
def n1(*s,n):   # variable length argument and keyword parameter
  for i in s:
    print(i)
  print(n)

In [ ]:
n1(10,20,30,40,50,n=100)  # variable length argument and keyword parameter

10
20
30
40
50
100

# **kwargs (Keyword variable length Arguments) -->internally it is 'dict'

- type of  key value representation

- def display(**kwargs): we can call this function by passing any number of keyword argument, these keyword become dict.

- def display(**kwargx): is also valid

In [ ]:
def display(**kwargs):
	print("Info...")
	for k,v in kwargs.items():
		print(k,".....",v)

display(name="Rajveer", marks="100")
display(name="Raj", marks="200")

Info...
name ..... Rajveer
marks ..... 100
Info...
name ..... Raj
marks ..... 200

- after keyword argu we can't take positional args

- a function can be pass as argument in another function

- similarly function can return another function

----------------------------------------------------------------------------------------

- Positional and keyword args terminology applicable at the time of function call

- variable length args & default args applicable at function definition

- local variable and global variable can have same name in python, global keyword is use to declare any variable with global keyword

- always follow below steps while declaring and initializing global variable

global a

a = 10

- in function if we have global and local variable with same name function give prioriy to local variable

- we can access global variable using globals()

- globals.get('a')

------------------------------------------------------------------------------
- function-->group/block of code
- Module-->group of function
- package-->group of module
- library-->group of package

In [ ]:
# initialize global variable

x=10

def new():
  # global x = 1000  # this will give error
  global x  # first declare then initialize
  x=100
  return x

print(new())
print(x)

100
100

# Inner function -->> Function inside a function

In [ ]:
def f1():
    def inner(a,b):  # inner function
        print(a+b)

    inner(10,30)
    inner(100,200)

f1()

40
300

# Anonymous Function -->

- Sometimes we can declare a function without any name,such type of nameless functions are called anonymous functions or lambda functions.
- The main purpose of anonymous function is just for instant use(i.e for one time usage)

In [ ]:
def squareIt(n):  # normal function
  return n*n
squareIt(3)

9

- We can define by using lambda keyword lambda n:n*n

- Syntax of lambda Function: lambda argument_list : expression

- Note: By using Lambda Functions we can write very concise code so that readability of the program will be improved.

In [ ]:
s=lambda x:x*x  # lambda function
s(3)

9

In [ ]:
s(15)

225

In [ ]:
s=lambda x,y:x*y
s(100,11)

1100

In [ ]:
bigger = lambda a,b:a if a>b else b
bigger(100,101)

101

In [ ]:
bigger = lambda a, b, c: a if a > b and a > c else b if b > c else c

print(bigger(10, 200, 1))

200

- Note: Lambda Function internally returns expression value and we are not required to write return statement explicitly.

- Note: Sometimes we can pass function as argument to another function. In such cases lambda functions are best choice.

- We can use lambda functions very commonly with filter(), map() and reduce() functions, because these functions expect function as argument.

# Filter(), map(), reduce() Syntax  -->>

- filter(another_function, sequence)
- map(another_function, sequence)
- reduce(another_function, sequence)

# Filter function -->>

- We can use filter() function to filter values from the given sequence based on some condition.

- filter(function,sequence) Where Function Argument is responsible to perform conditional check Sequence can be List OR Tuple OR String.

In [ ]:
def isEven(n):          # without filter
    if n % 2 == 0:
        return True
    else:
        return False

l = [1, 2, 3, 4, 5, 6, 78, 8, 9, 10]
l1 = []
for n in l:
    if isEven(n) == True:
        l1.append(n)

print(l1)

[2, 4, 6, 78, 8, 10]

In [ ]:
def isEven(n):    # with filter
    if n % 2 == 0:
        return True
    else:
        return False

l = [0, 10, 20, 13, 26, 22, 19]
l1 = list(filter(isEven, l))
print(l1)

[0, 10, 20, 26, 22]

In [ ]:
l = [0, 10, 20, 13, 26, 22, 19]            # filter with lambda
l1 = list(filter(lambda x: x % 2 == 0, l))
print(l1)

[0, 10, 20, 26, 22]

In [ ]:
l = [0, 3, 9, 10, 20, 13, 26, 22, 19]
l1 = list(filter(lambda x: x % 3 == 0 and x % 2 != 0, l))
print(l1)

l = ["Raj", "panky", "Viv"]
l1 = list(filter(lambda x: x[0] == 'R', l))
print(l1)

l = ["Raj", "panky", "Viv"]
l1 = list(filter(lambda x: len(x) % 3 == 0, l))
print(l1)

[3, 9]
['Raj']
['Raj', 'Viv']

# Map function -->>

- map() used to apply function on all the elements of sequence

- for every value mapped value will generate, if input contain 5 element output should contain 5 element

- function argument can be applied to each element of sequence and generate new sequence.

In [ ]:
def double(x):
    return 2 * x


l = [2, 3, 5, 76, 3]
l1 = list(map(double, l))
print(l1)

[4, 6, 10, 152, 6]

In [ ]:
def square(x):
  return x**2

a=[2,4,5,6,7,8,9,11,23,34]

newList= list(map(square,a))
print(newList)

[4, 16, 25, 36, 49, 64, 81, 121, 529, 1156]

In [ ]:
# Iterable --> List, Tuple, set, Range

In [ ]:
def square(x):
  return x**2
def cube(y):
  return y**3

In [ ]:
square(10)

100

In [ ]:
cube(9)

729

In [ ]:
square2=lambda x:x ** 2  # square using lambda

In [ ]:
cube2=lambda y:y ** 3 # cube using lambda

In [ ]:
square2(11)

121

In [ ]:
cube2(13)

2197

In [ ]:
mul=lambda x,y:x*y
mul(13,3)

39

In [ ]:
def addition(n):
    return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
l = [2, 3, 5, 76, 3]                  # map with lambda
l1 = list(map(lambda x: 2 * x, l))
print(l1)

l1 = [2, 3, 5, 76, 3]
l2 = [20, 30, 50, 760, 30]
l3 = list(map(lambda x, y: x * y, l1, l2))
print(l3)

[4, 6, 10, 152, 6]
[40, 90, 250, 57760, 90]

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

# Reduce -->>

- reduce() function reduces sequence of elements into a single element by applying the specified function

- reduce(function,sequence)
- reduce() function present in functools module and hence we should write import statement.

In [ ]:
from functools import reduce

l = [10, 20, 30, 40, 50]
result = reduce(lambda x, y: x + y, l)
print(result)

150

In [ ]:
# reduce
from functools import reduce

result = reduce(lambda x, y: x + y, range(1, 101))
print(result)

5050

In [ ]:
def Sample():
  print("This is sample func..")

id(Sample())

This is sample func..

100497258836960

In [ ]:
def Sample():                        # function aliasing
  print("This is sample func..")

s1=Sample()
print(id(Sample()))
print(id(s1))

This is sample func..
This is sample func..
100497258836960
100497258836960

In [ ]:
def f1():
    print("f1 function")

def f2():
    print("f2 function")

def f3():
    print("f3 function")

if __name__ == '__main__':
    # with this all method available but not executed all method executed when __name=__main__(direct execution)
    f1()
    f2()
    f3()

f1 function
f2 function
f3 function

- f1 = outer
- f1 = outer()
- In the first case for the outer() function we are providing another name f1 (function aliasing).
- But in the second case we calling outer() function,which returns inner function.For that inner function() we are providing another name f1

In [ ]:
def fight(name,age,villain):
  print("Hero name", name, "age ", age, "Villain ", villain)
  print(type(villain))

fight("R", 28,['A','B',10.23])                 # pass list as argument

Hero name R age  28 Villain  ['A', 'B', 10.23]
<class 'list'>

In [ ]:
def fight(name,age,villain):
  print("Hero name", name, "age ", age, "Villain ", villain)
  print(type(villain))

fight("R", 28,('A',100,'C'))                  # pass tuple as argument

Hero name R age  28 Villain  ('A', 100, 'C')
<class 'tuple'>

In [ ]:
def fight(name,age,villain):
  print("Hero name", name, "age ", age, "Villain ", villain)
  print(type(villain))

fight("R", 28,{'A',100,'C'})                    # pass set as argument

Hero name R age  28 Villain  {'A', 100, 'C'}
<class 'set'>

In [ ]:
def fight(name,age,villain):
  print("Hero name", name, "age ", age, "Villain ", villain)
  print(type(villain))

fight("R", 28,{'A':100,'B':200,'C':300})             # pass dict as argument

Hero name R age  28 Villain  {'A': 100, 'B': 200, 'C': 300}
<class 'dict'>

In [ ]:
def fight(name,age,villain):
  print("Hero name", name, "age ", age, "Villain ", villain)
  print(type(villain))

fight("R", 28,[['A','B','C'],[100,200,300]])                 # pass list of lists as argument

Hero name R age  28 Villain  [['A', 'B', 'C'], [100, 200, 300]]
<class 'list'>

In [ ]:
def square(x):
  return x**2

def pythogores(a,b):
  z=square(a) + square(b)
  return z

print(pythogores(7,3))

58